
header {
    background-color: gray;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    
}

header h1 {
    grid-column: 2;
    font-family:  Helvetica, sans-serif;
    margin: 0px;
    text-align: center;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;   
    position: relative;
    
}

body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 15% 70% 10%;
    
}
div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section {
    padding: 1%;
    
}

ul {   
    list-style: none;
    padding-left: 0;
    font-family: sans-serif;
}



/* Responsive Element */

@media (max-width: 400px){
    div {
        grid-template-columns: 1fr;
    }
}

/* Stylized Elements */

li {
    transition: 200ms;
    filter: grayscale(50%);
    position: relative;
    
}

li:hover {
    transition: 200ms;
    filter: grayscale(0);
    left: 20px
}

.hide {
    background-color: #c1c1c1;
    transition: 200ms;
    float: right;
    margin-right: 1%;
    border: none;
    width: 20px
    
}

.hide:hover {
    transition: 200ms;
    background-color: #8e8c8c;
    width: 20vw;
   
}

/* Applied animations */
h1 {
   animation-name: fromLeft;
   animation-duration: 1s; 
   animation-direction: alternate;
}

fieldset {
    position: relative;
    animation-name: toRight;
    animation-duration: 1s; 
    animation-direction: alternate;
    animation-fill-mode: forwards;
}


/* Animations */

@keyframes fromLeft {
    from {right: 100vw;}
    to {right: 0vw;}
}

@keyframes fromLeft {
    from {right: 100vw;}
    to {right: 0vw;}
}

@keyframes fromRight {
    0% {left: 100vw;display: block;}
    100% {left: 0vw;display: block;}
}
@keyframes toRight {
    0% {left: 0vw;}
    100% {left: 100vw; display:none}
}