
header {
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
}

header h1 {
    grid-column: 2;
    font-family:  Helvetica, sans-serif;
    margin: 0px;
    text-align: center;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 15% 70% 10%;
}
div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section {
    padding: 1%;
}