
header {
    background-color: gray;
    display: grid;
    grid-template-columns: 20% 60% 20%;
  
}

header h1 {
    grid-column: 2;
    font-family:  Helvetica, sans-serif;
    margin: 0px;
    text-align: center;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 15% 70% 10%;
}
div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section {
    padding: 1%;
}


/* Stylized Elements */

li {
    transition: 200ms;
    filter: grayscale(50%)
}

li:hover {
    transition: 200ms;
    filter: grayscale(0);
}

.hide {
    background-color: #c1c1c1;
    transition: 200ms;
    float: right;
    margin-right: 1%;
    border: none;
    width: 10vw;
}

.hide:hover {
    transition: 200ms;
    background-color: #8e8c8c

}