
header {
    background-color: gray;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

footer {
    grid-row: 3;
    background-color: #c1c1c1;
    display: inline-flex;
    justify-content: center;
    justify-items: center;
}

header h1 {
    grid-column: 2;
    font-family:  Helvetica, sans-serif;
    margin: 0px;
    text-align: center;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;   
    position: relative;
    background-image: url(./img/gator.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

header section {
    background-color: orange;

}

body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 15vh 70vh 15vh;
    overflow: hidden;
}
div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 1%;
    /* padding-top: 1%; */
}

/* Right Side CSS */
fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

input {
    position: relative;
    grid-row: 1;
}
select {
    position: relative;
    grid-row: 2;
}


/* Left side CSS */
.list-items {
    padding-right: 1px; 
    overflow: auto;
    overflow-x: hidden;
}

ul {   
    list-style: none;
    padding-left: 0;
    font-family: sans-serif;
}

fieldset {
    border:0
}
legend, label {
    font-family: sans-serif
}

#leftButton {
    float: left;
}


/* Responsive Element */

@media (max-width: 500px){
    header {
        grid-template-columns: 5% 90% 5%;
    }
    div {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }
    .list-items {
        grid-row: 0;
    }
    .form {
        grid-row: 1;
    }

    section {
        padding: 0px
    }

    li{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    li button {
        grid-column: 2;

    }
    li section {
        grid-column: 1;
        padding: 10px 10px 10px 10px
        
    }
}

/* Animated/Transition Elements */

li {
    padding: 3%;
    transition: 200ms;
    filter: grayscale(50%);
    position: relative;
    left: 0%;
}

li:hover {
    transition: 200ms;
    filter: grayscale(30%);
    left: 1%
}

li button {
    border: none;
    background-color: #c1c1c1;
    width: 100%;
    padding: 1%;
    margin:1%
}

li button:hover {
    background-color: #8e8c8c;
}

.hide {
    background-color: #c1c1c1;
    transition: 200ms;
    float: right;
    margin-right: 1%;
    border: none;
    width: 20px
    
}

.hide:hover {
    transition: 200ms;
    background-color: #8e8c8c;
    width: 20vw;
   
}

/* Applied animations */
h1 {
   animation-name: fromLeft;
   animation-duration: 1s; 
   animation-direction: alternate;
}

form {
    position: relative;
    animation-name: fromRight;
    animation-duration: 1s; 
    animation-direction: normal;
    animation-fill-mode: forwards;
}

form.toHide {
    animation-name: toRight;
}

ul, li{
    position: relative;
    animation-name: fromLeft;
    animation-duration: 1s; 
    animation-direction: normal;
    animation-fill-mode: forwards;
}

ul.toHide {
    animation-name: toLeft;
}

/* Animations */

@keyframes fromLeft {
    from {right: 100vw;}
    to {right: 0vw;}
}

@keyframes toLeft {
    from {right: 0vw;}
    to {right: 100vw;}
}

@keyframes fromRight {
    0% {left: 100vw}
    100% {left: 0vw}
}
@keyframes toRight {
    from {left: 0vw}
    to {left: 100vw}
}
